<header class="hero-unit" id="banner">
  
  <div class="container">
    <h1>Hey! Want to get a Job!,you're at the right place!!!</h1>
    <p class="lead">Welcome to JobApplication Portal</p>
    <h2 ng-show="!$ctrl.isLoggedIn()">Please Log in to apply for any posts</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">List of Posts</h1>
      <table class="table table-striped" >
        <thead>
          <th>#</th>
          <th>PostName</th>
          <th>State of the Post</th>
          <th>Maximum Applications</th>
       </thead>
    <tbody>
      <tr  id ="row" style="color:{{post.limitnumber<1?'red':'black'}}" ng-repeat="post in $ctrl.avaposts track by $index" >
        <td>{{$index+1}}</td>
        <td >{{post.name}}</td>
        <td>{{post.State}}</td>
        <td>{{post.limitnumber}}</td>
       
        <td  ><button class="btn btn-success" data-ng-disabled="(post.limitnumber<1)" ng-show="$ctrl.isLoggedIn() && !$ctrl.isAdmin()"   ng-click="$ctrl.applyPost(post)">Apply</button></td>
      </tr>

    </tbody>
  </table>
    </div>
  </div>
</div>