<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hey!</h1>
    <p class="lead">Welcome to JobApplication Portal</p><br>
    <p class = "lead">Please Log in to apply for any posts</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"  >List of Posts</h1>
      <table class="table table-striped" >
        <thead>
          <th>PostName</th>
          <th>State of the Post</th>
          <th>Limitnumber</th>
       </thead>
    <tbody>
      <tr ng-repeat="post in $ctrl.avaposts">
        <td>{{post.name}}</td>
        <td>{{post.State}}</td>
        <td>{{post.limitnumber}}</td>
        <td><button class="btn btn-success" ng-show="$ctrl.isLoggedIn()" ng-click="$ctrl.applyPost(post)">Apply</button></td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>