
<div ng-include="components/navbar/navbar.html"></div>
<div class="col-md-12" >
  <h1>Hiring Manager's Portal</h1>
  <h2 >Lists of Posts</h2>
  <table class="table table-striped" >
    <thead>
      <th>PostName</th>
      <th>State of the Post</th>
      <th>Maximum Applicants</th>
    </thead>
    <tbody>
      <tr ng-repeat="post in $ctrl.avaposts" ng-hide="clicked">
        <td ng-hide="post.edit"> <button class="btn btn-primary" ng-click="$ctrl.getusers(post)">{{post.name}}</button></td>
        <td ng-show="post.edit"><input type="text" ng-model="$ctrl.post.name"></td>
        
       <td ng-hide="post.edit">{{post.State}}</td>
        <td ng-show="post.edit"><input type="text" ng-model="$ctrl.post.State"></td>

 
        <td ng-hide="post.edit">{{post.limitnumber}}</td>
        <td ng-show="post.edit"><input type="text" ng-model="$ctrl.post.limitnumber"></td>

 
        <td ng-hide="post.edit">
          <button class="btn btn-success" ng-click="$ctrl.toggleEdit(post)">Edit</button>
          <button class="btn btn-danger" ng-click="$ctrl.deletePost(post)">Delete</button>
        </td>
        
        <td ng-show="post.edit">
          <button class="btn btn-primary" ng-click="$ctrl.savePost(post)">Save</button>
          <button class="btn btn-danger" ng-click="$ctrl.toggleEdit(post)">Cancel</button>
        </td>
      </tr>
      <tr ng-repeat="user in $ctrl.appliedusers" ng-show="!clicked" >
          <td>{{user.postname}}</td>
          <td>{{user.username}}</td>
          <td><button class="btn btn-success" ng-click="$ctrl.approve(user)">Approve</button></td>
          <td><button class="btn btn-danger" ng-click="$ctrl.reject(user)" >Reject</button></td>
        </tr>
      
    </tbody>
      <tr>
      <td><input type="text" ng-model="$ctrl.newpost.name"></td>
      <td><input type="text" ng-model="$ctrl.newpost.State"></td>
      <td><input type="text" ng-model="$ctrl.newpost.limitnumber"></td>
      <td>
        <button class="btn btn-primary" ng-click="$ctrl.addPost()">Add New</button>
      </td>
    </tr>
</table>
</div>
<div ng-show="!clicked"   class="col-md-12">
  <h1>Hiring Manager's Portal</h1>
  <h2 >Details of Posts</h2>
  <table class="table table-striped" >
    <thead>
      <th>PostName</th>
      <th>Applicant Name</th>
      <th>Action</th>
    </thead>
       <tbody>
       
      </tbody>
    </table>
</div>
